@import '@blueprintjs/table/lib/css/table.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  user-select: none; /* Standard syntax */
  cursor: default !important;
}

button {
  outline: none !important;
}
